.body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #bbbbbb 0%, #ffffff 100%);
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0.5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;    
}

.container .forms{
    display: flex;
    align-items: center;
    
    width: 200%;
    transition: height 0.2s ease;
}

.container .form{
    width: 50%;
    padding: 30px;
    background-color: white;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #a5a5a5;
    border-radius: 25px;
}

.form .inputField{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.inputField input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.inputField input:focus{
    border-bottom-color: #02030f;
}

.inputField i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.inputField input:focus ~ i{
    color: #02030f;
}

.inputField i.hideshowpw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.inputField i.icon{
    left: 0;
}

.form .checkboxText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkboxText .checkboxContent{
    display: flex;
    align-content: center;
}

.checkboxContent input{
    margin: 0px 8px -2px 4px;
    accent-color: #02030f;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #02030f;
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.form .Btn{
    margin-top: 35px;
}

.form .Btn input{
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #02030f;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form .Btn input:hover{
    background-color: #333;
}

.form .loginSignup{
    margin-top: 30px;
    text-align: center;

}